* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
}

.grid-container {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 12px;
    /*
    align-items: end;
    justify-content: space-around;
    */
    /*
    column-gap: 12px;
    row-gap: 12px;
    
    grid-auto-rows: 200px;
    grid-template-rows: 100px 200px;
    */
}
.item {
    background: steelblue;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    border: skyblue 1px solid;
}

/*
.item:nth-child(1) {
    background: black;
    grid-column: 1 / 3;
}

.item:nth-child(3) {
    color: black;
    background: pink;
    grid-row: 2 / 5;
}

.item:nth-child(4) {
    color: black;
    background: lightblue;
    grid-row: 2 / 5;
}
*/

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}